@mixin button-default-style($back-color,$text-color){
    font-size: 25px;
    padding: 10px 30px;
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: $back-color;
    // color: $text-color;
}
$text-color: black;
.button-primary{
    @include button-default-style($primary-color);
    color: $text-color;
}
.button-secondary{
    @include button-default-style($secondary-color);
}
.button-warning{
    @include button-default-style($warning-color);
}
.button-danger{
    @include button-default-style($danger-color);
}
