@import 'variables';
@import 'mixing';

h1{
    color:$warning-color;
    font-size: $title-font-size;
}
body{
    background-color: $danger-color;
}
.btn-btn{
    background-color: $warning-color;
    color: $secondary-color;
    font-size: $title-font-size;
}
.btn-btn{
    font-size: map-get($title-font-size-responsive,lg);
}
@media screen and (min-width:576px){
    .btn-btn{
        font-size: map-get($title-font-size-responsive,sm);
    } 
}